<h1>Virgin Airline</h1>



<div id="main"></div>

<!-- Place template scripts below here -->


<script type="html/template" id="searchPageTemplate">
  <form id="searchFlights">
    <input type="radio" name="type" value="departure">Depart From
    <input type="radio" name="type" value="arrival">Travel To
  </form>
  <input type="text" placeholder="search flights">

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Flight No.</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Plane</th>
      </tr>
    </thead>
    <tbody id="flightlist">
    </tbody>
  </table>
</script>


<script type="html/template" id="listFlightTemplate">
  <tr>
    <td>{{ date }}</td>
    <td id="{{flight_no}}" class="flight_number"><a href="/#flights/{{id}}" >{{ flight_no }}</a></td>
    <td>{{ origin }}</td>
    <td>{{ destination }}</td>
    <td>{{ airplane_id}} </td>
  </tr>
</script>

<script type="html/template" id="flightViewTemplate">
  <p>{{ date }} &nbsp; {{flight_no}} &nbsp; {{ origin }} > {{ destination }}</p>
  <table id="tbl">

  </table>
</script>

