<h1>THE APP PAGE</h1>



<div id="main"></div>

<!-- Place template scripts below here -->

<script type="html/template" id="airplaneViewTemplate">
  <h1>Airplane</h1>
  <div id="airplaneForm">

  </div>
  <ul id="airplanes">
    All Airplanes
  </ul>
</script>
<script type="html/template" id="newAirplaneViewTemplate">
  <input type="text" name="airplane" placeholder="Airplane Name" autofocus>
  <input type="text" name="row" placeholder="row">
  <input type="text" name="column" placeholder="column">
  <button>Submit</button>
</script>

<script type="html/template" id="searchPageTemplate">
  <form id="searchFlights">
    <input type="radio" name="type" value="departure">Depart From
    <input type="radio" name="type" value="arrival">Travel To
  </form>
  <input type="text" placeholder="search flights">
  <ul id="flights">Placehold where list is</ul>
</script>

