<h1>THE APP PAGE</h1>



<div id="main"></div>

<!-- Place template scripts below here -->

<script type="html/template" id="airplaneViewTemplate">
  <h1>Airplane</h1>
  <div id="airplaneForm">

  </div>
  <ul id="airplanes">
    All Airplanes
  </ul>
</script>
<script type="html/template" id="newAirplaneViewTemplate">
  <input type="text" name="airplane" placeholder="Airplane Name" autofocus>
  <input type="text" name="row" placeholder="row">
  <input type="text" name="column" placeholder="column">
  <button>Submit</button>
</script>
