<h1>THE APP PAGE</h1>



<div id="main"></div>

<!-- Place template scripts below here -->


<script type="html/template" id="searchPageTemplate">
  <form id="searchFlights">
    <input type="radio" name="type" value="departure">Depart From
    <input type="radio" name="type" value="arrival">Travel To
  </form>
  <input type="text" placeholder="search flights">
  <p>All Flights</p>
  <ul id="flights"></ul>
</script>

